body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    height: 70vh;
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: row;
}

.grid-item {
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}