body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    height: 100px;
    align-content: center;
    justify-content: space-evenly; /*start, end, center, space-between, space-around, space-evenly*/
    /*align-items: baseline; start, stretch, end, center, baseline*/
}

.flex-item {
    background-color: #800;
    color: #fff;
    font-size: 40px;
    text-align: center;
    width: 100px;
    order: 2;
}

.flex-item:first-child {
    background-color: #f77;
    order: 1;
}

.flex-item:last-child {
    background-color: #000;
    order: 3;
}