body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    container-type: inline-size;
    container-name: main;
}

p {
    font-size: 8px;
}

@container (max-width: 700px){
    p {
        font-size: 20px;
        color: #f00;
        background-color: #000;
    }
}