body {
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #ddd;
}

body, div, header, nav, ul, footer {
    box-sizing: border-box;
}

.main-wrapper, header, footer {
    width: 100%;
    flex-grow: 1;
} 

h1, h2, h3, h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

/*HEADER*/

.header {
    background-color: #48e;
}

.main-wrapper {
    max-width: 1024px;
}

.main-navbar ul {
    display: flex;
    padding: 0;
    justify-content: center;
}

.main-navbar li {
    list-style: none;
    margin: 4px;
}
.main-navbar a {
    color: #fff;
    display: inline-block;
    padding: 6px 9px;
}

nav a {
    text-decoration: none;
}

a:hover {
    opacity: 0.7;
}

/*MAIN SECTION*/

.main-wrapper {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

aside, main {
    padding: 9px 19px;
    flex-basis: 0;
    background-color: #fff;
}

main {
    min-width: 300px;
    flex-grow: 1;
}
.main-wrapper aside {
    flex-grow: 1;
}

.secundary-navbar {
    min-width: 10rem;
    text-align: center;
}

.secundary-navbar ul {
    padding: 0;
}

.secundary-navbar li {
    list-style: none;
}

.secundary-navbar a {
    color: #48e;
    display: inline-block;
    padding: 6px 10px;
}

aside:last-child {
    min-width: 10rem;
    display: none;
}

/*FOOTER*/

footer {
    margin-top: auto;
    background-color: #333;
    color: #fff;
    padding: 40px;
    font-weight: bold;
    text-align: center;
}

@media screen and (min-width: 480px) {
    .main-wrapper {
        flex-direction: row;
    }
}

@media screen and (min-width: 800px) {
    aside:last-child {
        display: block;
    }
    
}