body {
    font-family: sans-serif;
    margin: 0;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 600px;
    margin: auto;
}

.bloque {
    display: inline-block;
    min-width: 200px;
    background-color: #7bf;
    margin: auto;
    width: 100%;
    flex: 1;
    font-size: 12px;
    padding: 10px;
    margin: 4px;
}