body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div, body {
    box-sizing: border-box;
}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    border: 2px solid #000;
    margin: 20px;
    width: 400px;
    align-self: start;
    gap: 30px;
}

.flex-item:nth-child(2n) {
    background-color: #f77;
}

.flex-item {
    background-color: #800;
    color: #fff;
    font-size: 40px;
    text-align: center;
    flex: 1 1 100px;
}

.flex-item:last-child {
    background-color: #000;
    align-self:  last baseline;
}

.item-5 {
    align-self: stretch;
}