body {
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #fff;
    color: #f00;
    margin-top: 50px;
    transition: left 1s cubic-bezier(.14, .86, .32, .84) 2s;
    position: relative;
    left: 0;
    margin: auto;
    margin-top: 50px;
    border: 2px solid #000;
    overflow: auto; /*visible, hidden, scroll, auto, clip*/
    /*overflow-x; overflow-y;*/
    display: inline-block;
}