body {
    margin: 0;
    background: #222;
    background-size: contain;
}

h2 {
    color: #ddd;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}

form {
    background: transparent;
    padding: 15px 0;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 35px #fff4;
    border-radius: 4px;

}

.form_input {
    padding: 7px 20px;
    color: #ddd;
}

input, textarea, select{
    color: #ddd;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0 0 15px #fff2;
    background: transparent;
    border-radius: 4px;
}

option {
    background-color: #222;
}

textarea {
    min-width: 100%;
    min-height: 100px;
    resize: none;
    font-family: sans-serif;
}

label {
    font-size: 0.88em;
    line-height: 2;
}

.checkbox {
    width: auto;
    height: 10px;
}
