h1 {
    color: #48e;
    font-family: sans-serif;
    margin: 30px;
}

/*Cuando pasamos el mouse por encima de h1*/
h1:hover {
    color: #000;
    background-color: #ccc;
}

/*Cuando clickamos h1*/
h1:active {
    background-color: #999;
    color: #fff;
}

/*Seleccionemos el primer LI*/
li:first-child {
    color: #f00;
}

/*Seleccionemos cualquier LI*/
li:nth-child(3) {
    color: #0f0;
}

/*Seleccionemos un LI si y un LI no*/
li:nth-child(3n) {
    color: #0f0;
}

/*Se salta los elementos que no son de las misma clase*/
li:nth-of-type(2){
    color: #fff;
}

/*Seleccionemos el ultimo LI*/
li:last-child{
    color: #00f;
}

/*No seleccionamos los elementos seleccionados*/
.lista li:not(.excluir) {
    color: #fff;
}

div{
    border: solid 2px #000;
}
/*Seleccionando el div en caso de estar vacio*/
div:empty {
    border: none;
}

input[type="checkbox"] {
    margin: 50px;
}

input[type="checkbox"]:checked {
    margin: 0;
}

/*Seleccionando enlaces no visitados*/
a:link {
    color: #f00;
}

/*Seleccionando enlaces visitados*/
a:visited {
    color: #0f0;
}

/*Seleccionando inputs invalidos*/
input:invalid {
    color: #f00;
}

/*Seleccionando inputs validos*/
input:valid {
    color: #0f0;
}
