body {
    margin: 0;
    background-image: url(https://media.gq.com.mx/photos/60ef049c33c54bdef6761af7/16:9/w_2560%2Cc_limit/cristiano%2520ronaldo-865869292.jpg);
    background-size: contain;
}

h2 {
    color: #fff;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 10px;
}

form {
    background: transparent;
    padding: 20px 0;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    box-shadow: 0 0 35px #fff;
    border-radius: 4px;
}

.form_input {
    padding: 10px 20px;
}

input, textarea{
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border-left: 2px solid #999;
    box-shadow: 0 0 15px #fff;
    background: transparent;
    border-radius: 4px;
}

textarea {
    min-width: 100%;
    min-height: 100px;
    resize: none;
    font-family: sans-serif;
}

