body {
    margin: 0;
    background-color: #ddd;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    color: #fff;
    position: relative; /*Sigues acupando el espacio original en la pagina pero visualmente se mueva a donde le digamos (con esta opcion obtengo 4 nuevas propiedades: left, right, left, bottom), top > bottom, left > right. Un nuevo 5to elemento es el z-index, se usa para sobre poner elementos*/

    /*SE posiciona como un punto de referencia*/
    z-index: 10;
}

.box--blue{
    background-color: #00f;
    top: 70px;
    left: 20px;
    z-index: 20;
}

.box:first-child {
    top: 150px;
    left: 40px;
    background-color: #f00;
    z-index: 30;
}