body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));/*auto-fill//auto-fit*/
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 150px;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    margin: auto;
    margin-top: 20px;
    gap: 20px;
}

.grid-item {
    background-color: #48e;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}