body {
    margin: 0;
    font-family: sans-serif;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

.box {
    background-color: #48e;
    display: grid;
    place-content: center;
    color: #fff;
    font-size: 30px;
    margin: 100px auto;
    padding: 0px 40px;
    width: clamp(400px, 100%, 1400px)/*min(1500px, 50%) max(900px, 100%)*/;
    font-size: clamp(2.4rem, 2.2vw, 4rem);
    border: 6px solid #000;
}