body {
    margin: 0;
    font-family: sans-serif;
    background-color: #999;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 100px;
    grid-auto-columns: 100px;
    grid-auto-flow: row;
    border: 3px solid #000;
    column-gap: 20px;
    row-gap: 20px;
    /*gap: 20px 5px;*/
    gap: 20px;
    padding: 20px;
    width: 90vw;
    margin: auto;
    background-color: #fff;
    margin-top: 20px;
}

.grid-item {
    background-color: #48e;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}