body {
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    background-color: #48e;
    flex-direction: column;
}

.box {
    margin: auto;
    padding: 20px 40px;
    border: 4px solid #000;
    width: fit-content;
    /*transform: skew(20deg); no se como explicarlo, como que tira para un lado el elemento*/
    transform: translate(200px 600px);
    translate: 200px 200px;
}

/*
img {
    opacity: 0.5;
    scale: 1.5;
    transform: scale(1.5);scaleX, scaleY
}
*/
/* 
.box:first-child {
    transform: rotate(20deg); 
}
*/