body {
    color: #ddd;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to bottom, #444, #000);
}

form {
    background: transparent;
    padding: 12px 0 5px 0;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 35px #fff4;
    border-radius: 4px;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 22px;
    padding: 8px;
}

.form_input {
    padding: 8px 15px;
}

input, textarea, select{
    color: #ddd;
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0 0 15px #fff2;
    background: transparent;
    border-radius: 4px;
}

option {
    background-color: #222;
}

textarea {
    min-width: 100%;
    min-height: 100px;
    resize: none;
    font-family: sans-serif;
}

label {
    font-size: 0.88em;
    line-height: 1.5;
}

.checkbox {
    width: auto;
    height: 10px;
    padding-top: 0;
}

.box_checkbox{
    padding-top: 0;
}

fieldset {
    border-radius: 5px;
    border: 1px solid #666;
    padding: 0 10px 10px 10px;
    margin: 10px 10px ;
}

legend {
    padding: 0 6px;
}

a {
    text-decoration: none;
}