body {
    margin: 0;
    background: #222;
}

form {
    color: #ddd;
    background: transparent;
    padding: 10px 20px;
    max-width: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 0 0 35px #fff4;
    border-radius: 4px;

}

input, textarea, select{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 12px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0 0 15px #fff2;
    background: transparent;
    border-radius: 4px;
    margin: 5px 0;
}

fieldset {
    margin: 15px 0;
    border: 1px solid #ddd6;
    border-radius: 5px;
}

legend {
    padding: 0 6px;
}

