* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.box {
    font-size: 30px;
    padding: 0px 40px;
}

p::first-letter {
    initial-letter: 4 2;
    padding: 10px;
    padding-bottom: 0;
    color: #f44;
    font-family: Impact;
}