body {
    color: blue;
}

div {
    color: brown;
    font-family: sans-serif;
}

div {
    width: 50%;
}

h1 {
    color: inherit;
    /*color: initial; font-family: initial;*/
    /*color: unset; font-family: revert;*/
}