body {
    margin: 0;
    background-color: #ccc;
    font-family: sans-serif;
}

.contenedor {
    border: 2px solid #000;
    margin: 30px 50px;
    background-color: #fff;
    position: relative;
}

.box {
    width: 100px;
    height: 100px;
    background-color: #ca6;
    color: #fff;
}

.box--blue{
    background-color: #37d;
    position: absolute;/*Con esto se sale del flujo de la pagina (cambia el punto de referencia)*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.box--red {
    background-color: #e53;
    position: relative;
    left: 30px;
} 