body {
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #ccc;
    height: 200vh;
    /*scroll-timeline-name: --body;
    scroll-timeline-axis: block, inline;*/

    /*scroll-timeline: --body block;*/
    /*Buen ejemplo pero esta propiedad no se puede usar en el body*/
}

* {
    box-sizing: border-box;
}

div {
    box-sizing: border-box;
}

.crecedor {
    height: 200vh;    
}

.container {
    height: 50vh;
    scroll-timeline: --containerScroll block;
    overflow-y: scroll;
}

.box {
    background-color: #fff;
    border: 3px solid #48e;
    padding: 6px;
    border-radius: 39px;
    position: fixed;
    width: 100%;
}

.barra {
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
    animation-name: llenar-barra;
    animation-fill-mode: both;
    animation-timing-function: linear;
    animation-timeline: --containerScroll; /*scroll()*/
}

.barra:active {
    animation-play-state: paused;
}

@keyframes llenar-barra {
    from{
        width: 0%;
    }
    to {
        width: 100%;
        background-color: #f33;
    }
}