body {
    margin: 0;
    font-family: sans-serif;
}

dialog {
    background-color: #0009;
    height: 100vh;
    box-sizing: border-box;
}

.modal__content {
    background-color: #fff;
    padding: 10px 20px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.modal__tittle {
    margin-top: 10px ;
}

.modal__close-buttom {
    position: absolute;
    right: 0;
    top: 0;
    color: #fff;
    background-color: #000;
}