p {
    color: red;
    font-family: sans-serif, tahoma;
    font-size: 13px;
    font-weight: bold;
    font-style: italic;
    text-align: justify;
    line-height: 1.1;
    letter-spacing: 1px;
    text-transform: capitalize;
}

span {
    text-decoration: line-through;
}

