body {
    margin: 0;
    font-family: sans-serif;
}

.grid {
    display: grid;
    height: 70vh;
    grid-template-columns: 2fr 1fr 200px;
    grid-template-rows: auto auto;
}

.grid-item {
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}