body {
    margin: 0;
    font-family: sans-serif;
}

.box {
    width: 200px;
    height: 200px;
    background-color: #f00;
    margin-top: 50px;
    /*transition-property: left;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.14, .86, .32, .84);
    transition-delay: 0;*/
    transition: left 1s cubic-bezier(.14, .86, .32, .84) 2s;
    position: relative;
    left: 0;
}

body:hover .box {
    left: 400px;
}